
:host{
    --main-dark:  #444343;/*rgb(35, 163,179)*/
    --main-light: #b1b1b1;/*rgba(35, 163,179,0.5)*/
    --main-black: #1e1f22;
    --main-white: #ffffff;
    --main-font: arial; 
}
.section{
    padding: 1rem;
}
.section_heading{
    font-size: 1.25rem;
    color: var(--main-black);
    font-weight: 900;   
    padding-bottom: 0.2rem;  
}
.link{
    color: var(--main-black);
}


h3.school_field{
    color: var(--main-dark);
    font-weight: 800;
    font-size: larger;
}
div.school_name{
    font-weight: 700;
    font-size: 16px;
}
.school_individual{
    color: var(--main-black);
    font-size: 16px;
}
